.game-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
}

.game-container {
  aspect-ratio: 9 / 16;
  height: 80vh;
  max-width: 100%;
  border: 2px solid #333;
  border-radius: 8px;
  box-sizing: border-box;
  background: #fdfdfd;
}
